.about p {
  margin-bottom: 1.5rem;
}

.about {
  display: flex;
  padding: 0 3rem 3rem 3rem;
}

.profile-about {
  display: flex;
  flex-direction: column;
}

.section-about {
  display: flex;
  align-items: center;
  width: 100%;
  white-space: nowrap;
}

.section-about::after {
  content: '';
  display: inline-block;
  width: 60%;
  height: 2px;
  background-color: #c0c0c01e;
  margin-left: 10px;
  vertical-align: middle;
}

.profile-description {
  font-size: 1.1rem;
  width: 90%;
}

.highlight {
  color: #646cff;
  font-size: 1.1rem;
  line-height: 1.6;
}

.tech,
.tech-underline {
  font-size: 0.9rem;
  font-family: 'Fira Code', monospace;
  position: relative;
}

.tech-underline::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 100%;
  height: 1px;
  background: #646cff;
  opacity: 0.7;
}

.tech-columns {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  align-items: start;
  margin-top: 1.5rem;
}

.tech-column {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.tech-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.arrow-icon {
  color: #646cff;
  width: 1rem;
  height: 1rem;
}

.photo-container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.profile-photo {
  position: relative;
  width: 170px;
  height: 200px;
  border-radius: 4px;
  background-color: gray;
  flex-shrink: 0;
}

.photo {
  position: absolute;
  top: 0;
  left: 0;
  width: 170px;
  height: 200px;
  object-fit: cover;
  border-radius: 2px;
  z-index: 2;
}

.photo-border {
  width: 170px;
  height: 200px;
  margin-top: 25px;
  margin-left: 25px;
  border: 2px solid #646cff;
  border-radius: 2px;
  position: relative;
  z-index: -1;
}

@media (max-width: 768px) {
  .about {
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  .section-about::after {
    width: 100%;
  }

  .profile-description {
    width: 100%;
  }

  .photo-container {
    margin-top: 3rem;
  }
}
