@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700');
@import url('https://fonts.googleapis.com/css2?family=Slabo+27px');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: #1d0327;
  color: #d1d5db;
  font-family: 'Heebo', sans-serif;
}

html {
  scroll-behavior: smooth;
}

p {
  line-height: 1.6;
}

#resume {
  height: 100vh;
}

section:not(:first-child) {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.section-about,
.section-experience,
.section-projects,
.section-contact {
  font-size: 1.8rem;
  margin-bottom: 2rem;
  color: #ffffff;
}

#contact {
  padding-top: 5rem;
  padding-bottom: 11rem;
}

#footer {
  padding-bottom: 0.3rem;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #646cff;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #4548c0;
}

@media (min-width: 1920px) {
  section:not(:first-child) {
    padding-top: 7rem;
    padding-bottom: 7rem;
  }

  #contact {
    padding-top: 7rem;
    padding-bottom: 17rem;
  }
}
