@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700');
@import url('https://fonts.googleapis.com/css2?family=Slabo+27px');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');
@import './variables.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: var(--color-background);
  color: var(--color-text-primary);
  font-family: 'Heebo', sans-serif;
}

html {
  scroll-behavior: smooth;
}

p {
  line-height: 1.6;
}

#resume {
  height: 100vh;
}

#about,
#current-work,
#experience,
#projects,
#contact {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.section-about,
.section-current-work,
.section-experience,
.section-projects,
.section-contact {
  font-size: 1.8rem;
  margin-bottom: 2rem;
  color: var(--color-text-secondary);
}

#contact {
  padding-top: 5rem;
  padding-bottom: 11rem;
}

#footer {
  padding-bottom: 0.3rem;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-accent);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-accent-hover);
}

@media (min-width: 1900px) {
  section:not(:first-child) {
    padding-top: 7rem;
    padding-bottom: 7rem;
  }

  #about,
  #current-work,
  #experience,
  #projects,
  #contact {
    padding-top: 10rem;
    padding-bottom: 10rem;
  }
}

@media (max-width: 768px) {
  #footer {
    padding-bottom: 1.4rem;
  }
}

@media (max-width: 576px) {
  #resume {
    height: 90vh;
  }

  .section-about,
  .section-current-work,
  .section-experience,
  .section-projects,
  .section-contact {
    font-size: 1.6rem;
  }

  #about {
    padding-top: 0;
  }
}
