.resume {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.resume-greeting {
  color: #646cff;
  font-size: 0.9rem;
  font-family: 'Fira Code', monospace;
}

.resume-name {
  font-size: 4rem;
  font-weight: bold;
  color: #ffffff;
  letter-spacing: 2px;
}

.resume-proficiency {
  font-size: 3rem;
  font-weight: bold;
  letter-spacing: 2px;
  opacity: 0.7;
  margin-bottom: 2rem;
}

.description-container {
  width: 60%;
}

.resume-description {
  font-size: 1.1rem;
}

@media (max-width: 1920px) {
}

@media (max-width: 1600px) {
}

@media (max-width: 1400px) {
  .resume-name {
    font-size: 3.5rem;
  }

  .resume-proficiency {
    font-size: 2.5rem;
  }
}

@media (max-width: 992px) {
  .description-container {
    width: 80%;
  }
}

@media (max-width: 576px) {
  .resume-name,
  .resume-proficiency {
    font-size: 2rem;
  }

  .resume-description,
  .description-container {
    width: 100%;
  }

  .resume-description {
    font-size: 1.1rem;
  }
}

@media (max-width: 480px) {
  .resume-name,
  .resume-proficiency {
    font-size: 1.8rem;
  }
}
