:root {
  /* Cores principais */
  --color-primary: #646cff;
  --color-primary-hover: #4548c0;
  --color-primary-dark: #4a52e2;
  --color-primary-darker: #535bf2;
  --color-primary-lighter: #a3a8ff;
  --color-lamp: #ffd700;
  --color-heading-primary: #e2e2e2;

  /* Fundos */
  --color-background: #1d0327;
  --color-background-header: #1d0327d5;
  --color-background-card: #c0c0c01e;
  --color-background-hover: #f8f6f809;
  --color-background-button: #340746;
  --color-background-dark: #18111b;
  --color-background-mid: #290735;
  --color-background-code: #2e2f36;
  --color-badge-background: rgb(68, 37, 104);
  --color-section-background: #260236;

  /* Textos */
  --color-text-primary: #d1d5db;
  --color-text-secondary: #ffffff;
  --color-text-muted: #c2c2c2;
  --color-text-light: #f8f8f8;
  --color-text-status: #0f885a;
  --color-text-ice: #a6c5e4;
  --color-text-ann: #33adcc;

  /* Bordas */
  --color-border-primary: #431a63;
  --color-border-secondary: #c0c0c01e;
  --color-border-light: #ddd;
  --color-border-arch: #c0c0c018;
  --color-border-hover: #646cff42;
  --color-border-highlight: #ad6bcc;

  /* Destaques e Acentos */
  --color-green-highlight: #10b981;
  --color-red-highlight: #ff0000;
  --color-primary-light: #a78bfa;
  --color-placeholder: #808080;
  --color-accent: #646cff;
  --color-accent-hover: #4548c0;

  /* syntax highlighting */
  --color-highlight-annotation: #84b7fa;
  --color-highlight-bold-bg: #e3f2fd;
  --color-highlight-bold-text: #1565c0;
  --color-highlight-constant: #c586c0;
  --color-highlight-programming-term: #6899d0;
  --color-list-marker: #6899d0;
}
