:root {
  /* detalhes */
  --color-primary: #646cff;
  --color-primary-hover: #4548c0;
  --color-primary-dark: #4a52e2;
  --color-primary-darker: #535bf2;
  --color-primary-lighter: #a3a8ff;
  --color-lamp: #ffd700;

  /* fundo */
  --color-background: #1d0327;
  --color-background-header: #1d0327d5;
  --color-background-card: #c0c0c01e;
  --color-background-hover: #f8f6f809;
  --color-background-button: #340746;

  /* texto */
  --color-text-primary: #d1d5db;
  --color-text-secondary: #ffffff;
  --color-text-muted: #c2c2c2;
  --color-text-light: #f8f8f8;

  /* borda */
  --color-border-primary: #431a63;
  --color-border-secondary: #c0c0c01e;
  --color-border-light: #ddd;

  /* destaque */
  --color-green-highlight: #10b981;
  --color-red-highlight: #ff0000;
  --color-primary-light: #a78bfa;
  --color-placeholder: #808080;
  --color-accent: #646cff;
  --color-accent-hover: #4548c0;
}
