.entity-container {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  color: var(--color-text-primary);
  padding: 20px;
}

.entity-container h1 {
  font-size: 2.5rem;
  font-weight: 700;
  color: #808080;
  margin-bottom: 1rem;
}

.entity-container h2 {
  font-size: 1.75rem;
  font-weight: 600;
  color: var(--color-text-ice);
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.dependencies {
  background-color: var(--color-background-button);
  font-weight: 600;
  padding: 0.3rem 0.8rem;
  border-radius: 3px;
}

.dependencies-box {
  margin-bottom: 1rem;
}

.entity-container p {
  font-size: 1rem;
  color: var(--color-text-primary);
  margin-bottom: 1rem;
  line-height: 1.8;
}
