.title {
  text-align: center;
  font-size: 2.5rem;
  margin-top: 30px;
}

.description {
  text-align: center;
  font-size: 0.9rem;
  margin: 20px 20%;
}

.car-container {
  display: grid;
  margin-top: 3rem;
  padding: 1rem;
  grid-template-columns: minmax(200px, 1fr) minmax(300px, 4fr);
}

.side-bar {
  display: flex;
  flex-direction: column;
  margin-top: 0;
  gap: 20px;
}

.cars-items-button {
  all: unset;
  padding: 10px 20px;
  border: 1px solid var(--color-border-primary);
  transition: all 0.15s ease-in-out;
}

.cars-items-button:hover {
  background-color: var(--color-border-arch);
  cursor: pointer;
}

.cars-items-button.selected {
}

.content {
  margin: 0 5rem 10rem 5rem;
  overflow-y: auto;
  scroll-behavior: smooth;
}

.top-back {
  all: unset;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-background-button);
  border: 1px solid var(--color-border-primary);
  cursor: pointer;
  transition: all 0.15s ease-in-out;
  z-index: 1000;
}

.top-back:hover {
  background-color: var(--color-background-hover);
  transform: translateY(-3px);
}
